.nav-bar {
  background-color: #cccccc !important;
}

.right-menu {
  margin-right: 10px;
  margin-left: auto;
  display: inline-block;
  align-items: flex-end;
}

.button-links {
  text-decoration: none;
}