.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.linkedin-logo {
  height: 10vmin;
}

.main-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}